extends ../layouts/default

block content

	.container: .jumbotron
		//img(src='/images/logo.svg', width='160')
		
		h1 About me
		p I am a lawyer, experienced knowledge manager, and a novice webdeveloper.   I have extenstive experience in the legal industry firstly, a practicing lawyer and then as a leader of knowledge management in firms.  After 20 years of working within the legal industry, I took 3 months out to learn to code. I am passionate about the potential for technology to change the way in which lawyers' practice law and users of legal services experience legal services.  
		
		h1 About this site
		p This site started as a simple WordPress site, which recorded my thoughts and experiences as I learned to code. For that original series of posts, see [insert link].  That experience has further whetted my appetite for understanding how technology can transform legal services - from both the legal practitioners perspective, as well as consumers of the law.  I've built this site to collect my	musings.  I also come across some pretty interesting things in my many and varied wanderings in this space, so have built a Legal Tech Knowledge Bank to collect and share some of these resources.  I hope you find it useful. 
		
		p Regards
		p Jane Goes Digital
		
		h1 Keystone learnings
		p a(href) - will link to a page
		
		hr 
		h1 Stay in touch
		p Contact me:
			a(href='/contact')  Contact form
		
		p Email: <a href='mailto:janegoesdigital@gmail.com'> janegoesdigital@gmail.com</a>
			 
		p LinkedIn: <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script><script type="IN/FollowCompany" data-id="1337"></script>
		

		p Twitter: <a href="https://twitter.com/janegoesdigital" class="twitter-follow-button" data-show-count="false">Follow @janegoesdigital</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		
		p <a class="twitter-timeline" href="https://twitter.com/janegoesdigital">Tweets by janegoesdigital</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		
		p link <a href='https://google.com'> Google </a>
		
		if user && user.canAccessKeystone
			
